
/* Created by : Md.Habibur Rahman */

#XwebcamXobjectX{
    border:2px solid #ccc;
    border-radius: 5px;
}

.breadcrumb{
    margin-bottom:5px;
}
.webCamWrapper{
    -webkit-margin-end: 20px;
    -webkit-margin-before: 0px !important;
    margin-right: 20px;
    margin-left: 0px !important;

}